<h1 mat-dialog-title class="text-center" *ngIf="checklist">
  {{ checklist.checklist_name }}
</h1>
<mat-dialog-content>
  <div class="row">
    <div class="container">
      <tabset [justified]="true">
        <tab heading="Tareas">
          <h2>Tareas:</h2>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Descipción de tarea</th>
                <th scope="col">Fecha programada</th>
                <th scope="col">Tiempo asignado</th>
                <th scope="col">Archivos</th>
                <th scope="col">Link</th>
                <th scope="col">Usuario Asignado</th>
                <th scope="col">Estado de tarea</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let task of tasks">
                <th scope="row">
                  {{ task.task_description }}
                  <button
                    mat-icon-button
                    color="warn"
                    (click)="onDeleteTask(task.id_task)"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                </th>
                <td>{{ task.scheduled_data }}</td>
                <td>{{ task.task_time }}</td>
                <td>{{ task.task_filename }}</td>
                <td>{{ task.task_link }}</td>
                <td>
                  <span *ngIf="task.user_attend"
                    >@{{ task.user_attend.username }}</span
                  ><span *ngIf="task.user_attend === null"
                    >Sin usuario asignado</span
                  >
                </td>
                <td>
                  <div class="form-check form-switch">
                    <label
                      *ngIf="!task.task_status"
                      class="form-check-label"
                      for="flexSwitchCheckDefault"
                      >Por realizar</label
                    >
                    <label
                      *ngIf="task.task_status"
                      class="form-check-label"
                      for="flexSwitchCheckDefault"
                      >Realizado</label
                    >

                    <input
                      (change)="onUpdateTask($event,task.id_task, task)"
                      
                      class="form-check-input"
                      type="checkbox"
                      id="flexSwitchCheckDefault"
                      [checked]="task.task_status"
                    />
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <button [mat-dialog-close]="true" mat-raised-button (click)="onDeleteChecklist()">
            <span>Eliminar lista de tareas</span>
          </button>
        </tab>
        <tab heading="Crear nueva tarea">
          <form [formGroup]="addTaskForm" (ngSubmit)="onCreateTask()">
            <label class="form-label">Tarea:</label>
            <input
              type="text"
              class="form-control"
              formControlName="task_description"
              placeholder="Description de la tarea"
            />

            <label class="form-label">Fecha programada</label>
            <input
              type="text"
              placeholder="Fecha programada"
              class="form-control"
              bsDatepicker
              [bsConfig]="{
                dateInputFormat: 'YYYY-MM-DD',
                adaptivePosition: true,
                isAnimated: true,
                containerClass: 'theme-dark-blue'
              }"
              formControlName="scheduled_data"
            />

            <label class="form-label">Fecha de inicio:</label>
            <input
              type="text"
              placeholder="Fecha de inicio de tarea"
              class="form-control"
              bsDatepicker
              [bsConfig]="{
                dateInputFormat: 'YYYY-MM-DD',
                adaptivePosition: true,
                isAnimated: true,
                containerClass: 'theme-dark-blue'
              }"
              formControlName="start_date"
            />

            <label class="form-label">Fecha final:</label>
            <input
              type="text"
              placeholder="Fecha de fin de tarea"
              class="form-control"
              bsDatepicker
              [bsConfig]="{
                dateInputFormat: 'YYYY-MM-DD',
                adaptivePosition: true,
                isAnimated: true,
                containerClass: 'theme-dark-blue'
              }"
              formControlName="end_date"
            />

            <label class="form-label">Tiempo asignado de tarea</label>
            <input
              type="time"
              name=""
              id=""
              class="form-control-time"
              formControlName="task_time"
            />

            <label class="form-label">Archivo Asignado</label>
            <input
              type="file"
              class="form-control"
              formControlName="task_filename"
            />

            <label class="form-label">Enlaces</label>
            <input
              class="form-control"
              type="text"
              formControlName="task_link"
            />

            <label class="form-label">Asignar encargado:</label>
            <select
              class="form-select form-select-sm"
              formControlName="user_attend"
            >
              <option *ngFor="let member of members" [value]="member.id_user">
                @{{ member.username }}
              </option>
            </select>

            <button mat-button type="submit">
              <span>Agregar Tarea</span>
              <mat-icon>add</mat-icon>
            </button>
          </form>
        </tab>
      </tabset>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial></button> -->
</mat-dialog-actions>
