<mat-toolbar>
  <img class="navbar-img" src="../../assets/images/logo.png" alt="logorsg" />
  <h1><b>Proyectos Redsinergia</b></h1>
  <div class="buttons-container">
    <button mat-button (click)="showNotifications()" class="btn-notification">
      <mat-icon>notifications</mat-icon>
      <span *ngIf="notifications"
        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
      >
        +{{ notifications.length }}
        <span class="visually-hidden">unread messages</span>
      </span>
    </button>
    <div class="notifications" #notification>
      <div class="head-notification">
        <h1>Notificaciones</h1>
        <button mat-button (click)="deleteAllNotifications()">
          <mat-icon>clear_all</mat-icon>
        </button>
      </div>

      <div class="notifications-container" *ngIf="notifications">
        <div class="notification" *ngFor="let notification of notifications">
          <mat-icon>campaign</mat-icon>
          <span *ngIf="notification.codigo == 'N01'"
            >Se te añadio al equipo:
          </span>
          <span *ngIf="notification.codigo == 'N02'"
            >Se te añadio al proyecto:
          </span>
          <span *ngIf="notification.codigo == 'N03'"
            >Se añadio contenido nuevo al tablero:
          </span>
          <span *ngIf="notification.codigo == 'N04'"
            >Se te asigno como jefe de proyecto.
          </span>
          <span *ngIf="notification.codigo == 'N05'"
            >Se te añadio a una tarjeta de SCRUM.
          </span>
          <span *ngIf="notification.codigo == 'N06'"
            >Se te añadio a una reunión.
          </span>
          <span *ngIf="notification.codigo == 'N07'"
            >Se te añadio a un ticket.
          </span>
          <span *ngIf="notification.codigo == 'N01'"
            >Se te añadio a una credencial.
          </span>
          <p>{{ notification.mensaje }}</p>
        </div>
      </div>
    </div>
    <button
      mat-button
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasWithBothOptions"
    >
      <mat-icon>menu_open</mat-icon>
    </button>
    <button mat-button type="button" (click)="onBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-button type="button" (click)="onHome()">
      <mat-icon>home</mat-icon>
    </button>
  </div>
</mat-toolbar>
<div
  class="offcanvas offcanvas-start"
  data-bs-scroll="true"
  tabindex="-1"
  id="offcanvasWithBothOptions"
  aria-labelledby="offcanvasWithBothOptionsLabel"
>
  <div class="offcanvas-header">
    <h2 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Menú</h2>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
    ></button>
  </div>
  <div class="offcanvas-body">
    <app-sidebar></app-sidebar>
  </div>
</div>
<div class="space">
  
</div>