mat-toolbar {
  background-color: rgb(3, 92, 175);
  box-shadow: 10px 10px 10px;
  color: white;
  display: flex;
  justify-content: space-between;
}
img {
  width: 200px;
}

.data-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-notification {
  margin-right: 100px;
}

mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 1;
}
.space {
  margin-top: 90px;
}

.notifications {
  position: fixed;
  display: none;
  background-color: white;
  z-index: 2;
  color: black;
  width: auto;
  min-height: 400px;
  max-height: 600px;
  padding: 20px;
  animation: fadeIn 0.5s;
  border-radius: 5px;
  overflow-y: auto;

  .head-notification {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
  }
  .notifications-container {
    font-size: 15px;
    text-align: center;
    .notification {
      border-bottom: 1px solid #000;
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .notification:hover {
      background-color: lightgrey;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
