.body-users {
  padding: 1px;
  background: lightblue;
}
.img-user {
  width: 50px;
  height: 50px;
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-user-continer {
  background: #fff;
  display: flex;
  flex-direction: column;
  margin: 50px;
  padding: 10px;
  box-shadow: 6px 5px 36px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.table-rsg  {
  background-color: #035caf;
  color: #fff;
}
.btn-rsg{
  background-color: #035caf;
  color: #fff;
}
