<app-header></app-header>
<div class="body-users">
  <div class="admin-user-continer">
    <div class="header-container">
      <h1>Administración de Usuarios</h1>
      <button class="btn btn-primary" (click)="openCreateUser()">Registrar Usuario</button>
    </div>
    <div class="table-users">
      <table class="table table-striped table-hover">
        <thead class="table-rsg">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Imagen</th>
            <th scope="col">Usuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Rol</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <th scope="row"> {{user.id_user}} </th>
            <td class="img-container">
              <img class="img-user" src="../../assets/images/user.png" alt="hi">
            </td>
            <td> {{user.username}} </td>
            <td>{{user.name}} </td>
            <td>{{user.lastname}}</td>
            <td>{{user.role.role_name}}</td>
            <td>
              <button mat-button class="btn-rsg" (click) = "onEditUser(user)">
                <mat-icon>edit_note</mat-icon>
                <span>Editar</span>
              </button>
              &nbsp; &nbsp;
              <button mat-button class="btn-danger" (click) = "onDeleteUser(user.id_user)" >
                <mat-icon>person_remove</mat-icon>
                &nbsp;
                <span>Eliminar</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

