<div class="container-edit">
  <tabset [justified]="true">
    <tab heading="Detalles de la reunión">
      <div class="info-metting" *ngIf="currentMetting">
        <div class="info-item">
          <p><b>Reunión: </b></p>
          <p>{{ currentMetting.title_metting }}</p>
        </div>
        <div class="info-item">
          <p><b>Descripción: </b></p>
          <p>{{ currentMetting.description_metting }}</p>
        </div>
        <div class="info-item">
          <p><b>Memorandum</b></p>
          <p>{{ currentMetting.memorandum }}</p>
        </div>
        <div class="info-item">
          <p><b>Fecha de reunión</b></p>
          <p>{{ currentMetting.scheduled_date | date }}</p>
        </div>
        <div class="info-item">
          <p><b>Hora de inicio de la reunión</b></p>
          <p>{{ currentMetting.start_time | date: "mediumTime" }}</p>
        </div>
        <div class="info-item">
          <p><b>Hora final de la reunión</b></p>
          <p>{{ currentMetting.end_time | date: "mediumTime" }}</p>
        </div>
        <div class="info-item">
          <p><b>Plataforma</b></p>
          <p>{{ currentMetting.platform }}</p>
        </div>
  
        <p><b>Participantes de la reunión</b></p>
        <p *ngFor="let member of metting_members">
          {{ member.name }} {{ member.lastname }}
        </p>
      </div>
  
      <button class="btn btn-danger" (click)="onDeleteMetting()">
        Eliminar Reunión
      </button>
    </tab>
    <tab heading="Editar Reunión">
      <h2>Miembros en la reunión</h2>
      <form
        class="m-4"
        [formGroup]="attendeesForm"
        (ngSubmit)="addMemberToMetting()"
      >
        <label for="platform">Integrantes de reunión</label>
        <select class="form-select form-select-sm" formControlName="attendees">
          <option *ngFor="let member of members" [value]="member.id_user">
            {{ member.name }}
          </option>
        </select>
        <div class="add-member-button">
          <button mat-button type="submit">
            <span>Agregar miembro</span>
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </form>
      <div class="member-container" *ngFor="let member of metting_members">
        <span>{{ member.name }} {{ member.lastname }}</span>
        <button color="warn" mat-icon-button (click)="onDeleteMemberToMetting(member.id_user)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <form
        class="m-7 align-content-center form-metting"
        [formGroup]="editMettingForm"
        (ngSubmit)="onEditMetting()"
      >
        <label class="form-label" for="title_metting">Título de la reunión</label>
        <input
          type="text"
          class="form-control"
          formControlName="title_metting"
          placeholder="Título de la reunión"
        />
  
        <label for="description_metting">Descripción de la reunión</label>
        <input
          type="text"
          class="form-control"
          formControlName="description_metting"
          placeholder="Descripción de la reunión"
        />
  
        <label for="scheduled_date">Fecha programada:</label>
        <input
          type="text"
          placeholder="Fecha programada"
          class="form-control"
          bsDatepicker
          [bsConfig]="{
            dateInputFormat: 'YYYY-MM-DD',
            adaptivePosition: true,
            isAnimated: true,
            containerClass: 'theme-dark-blue'
          }"
          formControlName="scheduled_date"
        />
  
        <label for="start_time">Inicio de reunión</label>
        <timepicker formControlName="start_time"></timepicker>
  
        <label for="end_time">Fin de reunión</label>
        <timepicker formControlName="end_time"></timepicker>
  
        <label for="platform">Plataforma</label>
        <input
          type="text"
          placeholder="Plataforma de reunión"
          class="form-control"
          formControlName="platform"
        />
  
        <label for="memorandum">Memorándum</label>
        <textarea
          cols="30"
          rows="4"
          placeholder="Memorándum"
          class="form-control"
          formControlName="memorandum"
        ></textarea>
  
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
            Editar reunión
          </button>
        </div>
      </form>
    </tab>
  </tabset>
</div>

