.form-metting {
  max-height: 600px;
}
.info-metting {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.info-item {
  border-bottom: 1px solid #e1e1e1;
  width: 100%;
}
.member-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-edit {
  max-height: 600px;
}
