.board-container {
  margin: 20px;

  box-shadow: -1px 1px 15px 0px #000000;
}
.content-board-info {
  height: 50%;
  margin-bottom: 10px;
}
.members {
  color: black;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  overflow-y: auto;
  max-height: 235px;
  height: 100%;
  .box-item {
    cursor: pointer;
  }
}
.members-label {
  color: black;
  text-align: center;
  width: 100%;
  border-radius: 10px;
  overflow-y: auto;
  height: 100%;
}
//Estilos del scrollbar
.members::-webkit-scrollbar {
  -webkit-appearance: none;
}
.members::-webkit-scrollbar:vertical {
  width: 10px;
}
.members::-webkit-scrollbar-button:increment,
.members::-webkit-scrollbar-button {
  display: none;
}
.members::-webkit-scrollbar:horizontal {
  height: 10px;
}
.members::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}
.members::-webkit-scrollbar-track {
  border-radius: 10px;
}
.info-container {
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  background: rgb(3, 92, 175);
  .status {
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .status:hover {
    background: #e1e1e1;
    cursor: pointer;
  }
  .principal-info {
    color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
    margin-bottom: 12px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .info-labels {
    color: black;
    justify-content: center;
    display: flex;

    margin-bottom: 15px;
    box-shadow: -1px 27px 45px -11px rgba(3, 92, 175, 0.42);
    h1 {
      margin: 0;
    }
  }
  .labels {
    text-align: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: auto;
    form {
    }
    button {
      transition: all 0.5s ease;
    }
    button {
      transform: scale(1.01);
    }
  }

  .labels::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  .labels::-webkit-scrollbar:vertical {
    width: 10px;
  }
  .labels::-webkit-scrollbar-button:increment,
  .members::-webkit-scrollbar-button {
    display: none;
  }
  .labels::-webkit-scrollbar:horizontal {
    height: 10px;
  }
  .labels::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
  }
  .labels::-webkit-scrollbar-track {
    border-radius: 10px;
  }
}

.data-lists {
  background-color: rgb(3, 92, 175);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0px 10px 0px;
  color: #fff;
  border-radius: 5px;
  h2 {
    margin: 0;
  }
  form {
    display: flex;
    align-items: center;
    label {
      width: 250px;
    }
  }
}

.board-list {
  padding: 20px;
}
.list-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  h3 {
    margin: 0;
  }
  .btn-delete {
    color: red;
  }
}

.list-container {
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
  padding: 15px;
  overflow: scroll;
  .lists {
    margin: 15px;
    .list-info-container {
      background: rgba(255, 249, 249, 0.945);
      border-radius: 10px;
      box-shadow: 1px 2px 5px;
    }
  }
}
//Estilos del scrollbar
.list-container::-webkit-scrollbar {
  -webkit-appearance: none;
}
.list-container::-webkit-scrollbar:vertical {
  width: 10px;
}
.list-container::-webkit-scrollbar-button:increment,
.list-container::-webkit-scrollbar-button {
  display: none;
}
.list-container::-webkit-scrollbar:horizontal {
  height: 10px;
}
.list-container::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}
.list-container::-webkit-scrollbar-track {
  border-radius: 10px;
}

.scard-container {
  transition: all 0.9s ease;
  margin: 2em auto;
  overflow: hidden;
  position: relative;
  width: 200px; /* ancho */

  color: #fff;
  border-radius: 10px;
}
.scard-container:hover {
  transform: scale(1.1);
}
.pin {
  float: right;
}
.member-to-metting {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.scrum-img-container img {
  width: 100%;
}
.scrum-data-container {
  z-index: 1;
  padding: 15px;
  position: relative;
  .line-contain {
    .box {
      height: 65px;
      border: solid 5px rgb(255, 255, 255);
      border-color: transparent transparent rgb(241, 241, 241) transparent;
      border-radius: 0 0 240px 50%/60px;
    }
  }

  .shadow-decorator {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 35%,
      rgba(0, 212, 255, 1) 100%
    );
    z-index: -1;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    /* position: revert; */
    position: absolute;
    opacity: 0.23;
  }
}
.card-to-add-label {
  z-index: 1;
  position: absolute;
  background-color: #778899;
}

.objetive-contain {
  display: flex;
  justify-content: space-between;
}

.form-metting {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
