<app-header></app-header>
<div class="board-container" *ngIf="boardFounded">
  <div class="info-container">
    <h1 class="text-center">
      <b>{{ boardFounded.board_name }}</b>
    </h1>
    <hr />
    <div class="row">
      <div class="col-md-3">
        <div class="bg-white principal-info p-2">
          <mat-icon>info</mat-icon>
          <p>
            <b>{{ boardFounded.description_board }}</b>
          </p>

          <p>
            Fecha de inicio del tablero:
            <br />
            <span class="text-decoration-underline">{{
              boardFounded.start_date
            }}</span>
          </p>
          <p>
            Fecha de finalización del tablero:
            <br />
            <span class="text-decoration-underline">{{
              boardFounded.end_date
            }}</span>
          </p>
        </div>

        <p class="bg-white p-2 status">
          <mat-icon>person</mat-icon>
          <b>Encargado del tablero: </b>
          <span>
            @{{ boardFounded.users.username }} - {{ boardFounded.users.name }}
            {{ boardFounded.users.lastname }}
          </span>
        </p>
        <p class="bg-white p-2 status">
          <mat-icon>groups</mat-icon>
          <b>Grupo asignado:</b>
          <span> {{ boardFounded.group.datagroup_name }} </span>
        </p>

        <p class="bg-white p-2 status" (click)="onChangeStatus()">
          <mat-icon>model_training</mat-icon>
          <b>Estado</b>
          <span *ngIf="boardFounded.board_finish"> Finalizado &#10060; </span>
          <span *ngIf="!boardFounded.board_finish" color="green"
            >En proceso &#9989;</span
          >
        </p>
      </div>

      <div class="col-md-3">
        <div class="content-board-info">
          <div class="members bg-white p-2">
            <h1>Miembros</h1>
            <div *ngFor="let user of members">
              <p>
                <mat-icon>sentiment_very_satisfied</mat-icon>
                @ {{ user.username }}
              </p>
              <hr />
            </div>
          </div>
          <br />
        </div>
        <div class="content-board-info">
          <div class="members bg-white p-2">
            <div class="info-labels">
              <h1>Credenciales</h1>
              <button
                mat-button
                data-bs-toggle="modal"
                data-bs-target="#staticCredential"
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>
            <h4 *ngIf="!credentials.length">(Sin credenciales)</h4>
            <div
              *ngFor="let credential of credentials"
              class="box-item"
              (click)="onEditCredential(credential.id_credential)"
            >
              <p>
                <mat-icon>domain_verification</mat-icon>
                <br />
                {{ credential.credential_description }}
              </p>
              <hr />
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="content-board-info">
          <div class="members bg-white p-2">
            <div class="info-labels">
              <h1>Reuniones</h1>
              <button
                mat-button
                data-bs-toggle="modal"
                data-bs-target="#staticMetting"
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>
            <h4 *ngIf="!metting_test.length">(Sin reuniones)</h4>
            <div
              *ngFor="let metting of metting_test"
              class="box-item"
              (click)="onEditMetting(metting.id_metting)"
            >
              <p>
                <mat-icon>switch_account</mat-icon>
                <br />
                {{ metting.title_metting }}
                {{ metting.description_metting }} <br />
                Fecha de reunión: {{ metting.scheduled_date }}
              </p>
              <hr />
            </div>
          </div>
        </div>
        <div class="content-board-info">
          <div class="members bg-white p-2">
            <div class="info-labels">
              <h1>Tickets</h1>
              <button
                mat-button
                data-bs-toggle="modal"
                data-bs-target="#staticTicket"
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>
            <h4 *ngIf="!tickets.length">(Sin tickets)</h4>
            <div
              *ngFor="let ticket of tickets"
              class="box-item"
              (click)="onEditTicket(ticket.id_ticket)"
            >
              <p>
                <mat-icon>local_activity</mat-icon>
                <br />
                {{ ticket.ticket_tittle }} <br />
                {{ ticket.ticket_description }} <br />
                <span class="text-success" *ngIf="ticket.ticket_status">
                  Finalizado</span
                >
                <span class="text-danger" *ngIf="!ticket.ticket_status">
                  Pendiente</span
                >
                <br />
                Ticket creado
                <br />
                {{ ticket.customer_date }}
                <br />
                <span *ngIf="!ticket.ticket_status"
                  >Fecha de resolución: {{ ticket.resolution_date }}</span
                >
              </p>
              <hr />
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="content-board-info">
          <div class="labels bg-white">
            <div class="info-labels">
              <button
                mat-button
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseLabel"
              >
                <mat-icon>add</mat-icon>
              </button>
              <h1>Etiquetas</h1>
            </div>
            <div class="collapse" id="collapseLabel">
              <div class="card card-body card-to-add-label">
                <form (ngSubmit)="addLabel()" [formGroup]="addLabelForm">
                  <div class="row">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="label_tittle"
                    />
                  </div>
                  <div class="row">
                    <color-twitter formControlName="color"></color-twitter>
                  </div>
                  <button
                    mat-button
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseLabel"
                  >
                    <mat-icon>add</mat-icon><span>Agregar</span>
                  </button>
                </form>
              </div>
            </div>
            <h4 *ngIf="!boardFounded.labels.length">(Sin etiquetas)</h4>
            <span
              mat-button
              *ngFor="let label of boardFounded.labels"
              [ngStyle]="{ background: label.color }"
              (click)="onDeleteLabel(label.id_label)"
            >
              <span class="label-text label-board">{{
                label.label_tittle
              }}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Desplazables de detalles -->
  <div class="row">
    <div class="accordion accordion-flush">
      <div class="row">
        <div class="col-md-4">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne"
                aria-expanded="false"
                aria-controls="flush-collapseOne"
              >
                <h3>Objetivos</h3>
              </button>
            </h2>
            <div
              id="flush-collapseOne"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <div
                  class="objetive-contain"
                  *ngFor="let objetivo of boardFounded.objetive"
                >
                  <p>
                    {{ objetivo.objetive_tittle }}
                    <button
                      mat-button
                      color="warn"
                      (click)="onDeleteObjetive(objetivo.id_objetive)"
                    >
                      <mat-icon>close</mat-icon>
                    </button>
                  </p>
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="flexSwitchCheckDefault"
                      [checked]="objetivo.target_status"
                      (change)="
                        onObjetiveStatusChange($event, objetivo.id_objetive)
                      "
                    />
                    <label
                      *ngIf="objetivo.target_status == false"
                      class="form-check-label"
                      for="flexSwitchCheckDefault"
                      >Por realizar</label
                    >
                    <label
                      *ngIf="objetivo.target_status"
                      class="form-check-label"
                      for="flexSwitchCheckDefault"
                      >Realizado</label
                    >
                  </div>
                </div>
                <form>
                  <input
                    class="form-control"
                    name="newObjetivo"
                    [(ngModel)]="newObjetivo"
                  />
                </form>

                <button
                  mat-raised-button
                  class="m-2"
                  (click)="onCreateObjetive()"
                >
                  <mat-icon>add</mat-icon>
                  <span>Agregar objetivo</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo"
                aria-expanded="false"
                aria-controls="flush-collapseTwo"
              >
                <h3>Requerimientos</h3>
              </button>
            </h2>
            <div
              id="flush-collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <div
                  class="objetive-contain"
                  *ngFor="let requeriment of boardFounded.requerements"
                >
                  <p>
                    {{ requeriment.request_description }}
                    <button
                      mat-button
                      color="warn"
                      (click)="onDeleteRequire(requeriment.id_request)"
                    >
                      <mat-icon>close</mat-icon>
                    </button>
                  </p>
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="flexSwitchCheckDefault"
                      [checked]="requeriment.request_status"
                      (change)="onUpdateRequire($event, requeriment.id_request)"
                    />
                    <label
                      *ngIf="requeriment.request_status == false"
                      class="form-check-label"
                      for="flexSwitchCheckDefault"
                      >Por realizar</label
                    >
                    <label
                      *ngIf="requeriment.request_status"
                      class="form-check-label"
                      for="flexSwitchCheckDefault"
                      >Realizado</label
                    >
                  </div>
                </div>
                <form>
                  <input
                    class="form-control"
                    name="newRequire"
                    [(ngModel)]="newRequire"
                  />
                </form>

                <button
                  mat-raised-button
                  class="m-2"
                  (click)="onCreateRequire()"
                >
                  <mat-icon>add</mat-icon>
                  <span>Agregar Requerimiento</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree"
                aria-expanded="false"
                aria-controls="flush-collapseThree"
              >
                <h3>Alcance</h3>
              </button>
            </h2>
            <div
              id="flush-collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <div
                  class="objetive-contain"
                  *ngFor="let scope of boardFounded.scope"
                >
                  <p>
                    {{ scope.scope_description }}
                    <button
                      mat-button
                      color="warn"
                      (click)="onDeleteScope(scope.id_scope)"
                    >
                      <mat-icon>close</mat-icon>
                    </button>
                  </p>
                </div>
                <div class="form-contain">
                  <form>
                    <input
                      class="form-control"
                      type="text"
                      name="newScope"
                      [(ngModel)]="newScope"
                    />
                  </form>
                  <button mat-button (click)="onCreateScope()">
                    <mat-icon>add</mat-icon>
                    <span>Agregar Alcance</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="board-list">
    <div class="data-lists">
      <h2>Listas de SCRUM</h2>
      <button mat-button (click)="showAddList()">
        <span>Agregar nueva lista</span>
        <mat-icon>add</mat-icon>
      </button>
      <form
        [formGroup]="addListForm"
        *ngIf="isAddList || isEditList"
        (ngSubmit)="onAddList()"
      >
        <label class="form-label" for="list_tittle">Nombre de la lista</label>

        <input
          type="text"
          formControlName="list_tittle"
          id="list_tittle"
          class="form-control"
        />
        <button mat-button type="submit" *ngIf="isAddList">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-button type="submit" *ngIf="isEditList">
          <mat-icon>edit</mat-icon>
        </button>
      </form>
    </div>

    <div class="list-container">
      <div class="lists" *ngFor="let list of lists">
        <div class="list-info-container">
          <button
            mat-button
            (click)="onEditList(list.id_list, list.list_tittle)"
          >
            <h3>
              <b>{{ list.list_tittle }}</b>
            </h3>
          </button>

          <button
            class="btn-delete"
            mat-button
            (click)="onDeleteList(list.id_list)"
          >
            <mat-icon>remove_circle_outline</mat-icon>
          </button>
        </div>

        <!-- <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            id="flexSwitchCheckDefault"
          />
          <label class="form-check-label" for="flexSwitchCheckDefault"
            >Archivado</label
          >
        </div> -->

        <div
          class="scard-container"
          *ngFor="let scard of list.scards"
          [ngStyle]="{ background: scard.color }"
          (click)="openDialogEditScrum(scard.id_scard, list.id_list)"
        >
          <div class="info-container-scrum">
            <div class="scrum-img-container">
              <img src="../../../assets/images/bird.jpg" alt="" />
            </div>
            <div class="scrum-data-container">
              <div class="details">
                <h2>
                  {{ scard.scard_tittle }}
                </h2>
                <p>
                  {{ scard.scard_description }}
                </p>

                <p>Fecha de inicio {{ scard.start_date }}</p>
                <p>Fecha final {{ scard.end_date }}</p>
                <p *ngIf="scard.scard_status">En proceso</p>
                <p *ngIf="!scard.scard_status">Finalizada</p>
              </div>
              <div class="line-contain">
                <div class="box"></div>
              </div>

              <div class="shadow-decorator"></div>
            </div>
          </div>
        </div>
        <button (click)="openDialogScrum(list.id_list)" mat-button>
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal crear reuniones -->

<div
  class="modal fade"
  id="staticMetting"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="staticBackdropLabel">Crear reunión</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h1>Miembros en la reunión</h1>
        <form
          class="m-4"
          [formGroup]="attendeesForm"
          (ngSubmit)="addMemberToMetting()"
        >
          <label for="platform">Integrantes de reunión</label>
          <select
            class="form-select form-select-sm"
            formControlName="attendees"
          >
            <option *ngFor="let member of members" [value]="member.id_user">
              {{ member.name }}
            </option>
          </select>
          <div class="add-member-button">
            <button mat-button type="submit">
              <span>Agregar miembro</span>
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </form>
        <div class="member-to-metting" *ngFor="let member of metting_members">
          <span>{{ member.name }} {{ member.lastname }}</span>
          <button
            color="warn"
            mat-icon-button
            (click)="onDeleteMemberToMetting(member.id_user)"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <form
          class="m-7 align-content-center form-metting"
          [formGroup]="addMettingForm"
          (ngSubmit)="onAddMetting()"
        >
          <label class="form-label" for="title_metting"
            >Título de la reunión</label
          >
          <input
            type="text"
            class="form-control"
            formControlName="title_metting"
            placeholder="Título de la reunión"
          />

          <label for="description_metting">Descripción de la reunión</label>
          <input
            type="text"
            class="form-control"
            formControlName="description_metting"
            placeholder="Descripción de la reunión"
          />

          <label for="scheduled_date">Fecha programada:</label>
          <input
            type="text"
            placeholder="Fecha programada"
            class="form-control"
            bsDatepicker
            [bsConfig]="{
              adaptivePosition: true,
              isAnimated: true,
              containerClass: 'theme-dark-blue'
            }"
            formControlName="scheduled_date"
          />

          <label for="start_time">Inicio de reunión</label>
          <timepicker formControlName="start_time"></timepicker>

          <label for="end_time">Fin de reunión</label>
          <timepicker formControlName="end_time"></timepicker>

          <label for="platform">Plataforma</label>
          <input
            type="text"
            placeholder="Plataforma de reunión"
            class="form-control"
            formControlName="platform"
          />

          <label for="memorandum">Memorándum</label>
          <textarea
            cols="30"
            rows="4"
            placeholder="Memorándum"
            class="form-control"
            formControlName="memorandum"
          ></textarea>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              data-bs-dismiss="modal"
            >
              Guardar reunión
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal tickets -->

<div
  class="modal fade"
  id="staticTicket"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <tabset [justified]="true">
        <tab heading="Usuario">
          <div class="modal-header">
            <h1 class="modal-title" id="staticBackdropLabel">
              Crear nuevo ticket
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="addTicketForm" (ngSubmit)="onAddTicket()">
              <label class="form-label" for="ticket_tittle"
                >Nombre del ticket</label
              >
              <input
                type="text"
                class="form-control"
                formControlName="ticket_tittle"
                placeholder="Título del ticket"
              />

              <label for="ticket_description">Descripción del ticket</label>
              <input
                type="text"
                class="form-control"
                formControlName="ticket_description"
                placeholder="Descripción de la reunión"
              />

              <label for="customer_date">Fecha de reporte del cliente:</label>
              <p>{{ currentDate.toLocaleString() }}</p>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-dismiss="modal"
                >
                  Cancelar
                </button>
                <button
                  type="submit"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                >
                  Enviar ticket
                </button>
              </div>
            </form>
          </div>
        </tab>
        <tab heading="Desarrollador">
          <div class="modal-header">
            <h1 class="modal-title" id="staticBackdropLabel">Asignar Datos</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <h1>Miembros encargados:</h1>
            <div *ngFor="let member of metting_members">
              <span>{{ member.name }} {{ member.lastname }}</span>
              <button
                mat-icon-button
                color="warn"
                (click)="onDeleteMemberToMetting(member.id_user)"
              >
                <mat-icon>close</mat-icon>
              </button>
            </div>
            <form [formGroup]="attendeesForm" (ngSubmit)="addMemberToMetting()">
              <label for="platform">Integrantes de ticket</label>
              <select
                class="form-select form-select-sm"
                formControlName="attendees"
              >
                <option>Selecciona los miembros</option>
                <option *ngFor="let member of members" [value]="member.id_user">
                  {{ member.name }}
                </option>
              </select>
              <div class="add-member-button">
                <button mat-button type="submit">
                  <span>Agregar miembro</span>
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </form>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>

<!-- Modal credentials -->
<div
  class="modal fade"
  id="staticCredential"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="staticBackdropLabel">Crear credencial</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          [formGroup]="addCredentialForm"
          class="align-items-center m-4"
          (ngSubmit)="onCreateCredential()"
        >
          <label for="credential_description" class="form-label">Alias</label>
          <input
            class="form-control"
            type="text"
            name="credential_description"
            id="credential_description"
            formControlName="credential_description"
            placeholder="Alias de la credencial"
          />

          <label for="credential_links" class="form-label"
            >Dominio o código de conexión:</label
          >
          <input
            class="form-control"
            type="text"
            name="credential_links"
            id="credential_links"
            formControlName="credential_links"
            placeholder="Enlace o dominio"
          />

          <label for="credential_filename" class="form-label">Archivo</label>
          <input
            class="form-control"
            type="file"
            name="credential_filename"
            id="credential_filename"
            formControlName="credential_filename"
            placeholder="Archivos"
          />

          <label for="credential_path" class="form-label"
            >Datos de acceso</label
          >
          <textarea
            class="form-control"
            type="text"
            id="credential_path"
            formControlName="credential_path"
            placeholder="Usuario, contraseña..."
            cols="30"
            rows="5"
          ></textarea>
          <button
            data-bs-dismiss="modal"
            type="submit"
            class="btn btn-primary m-2"
          >
            Crear Credencial
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
