<mat-dialog-content class="mat-typography">
  <h2 mat-dialog-title>Actualizar tablero</h2>
  <form
    class="row g-3 form-registros-board"
    [formGroup]="registroBoard"
    (ngSubmit)="onSubmit()"
  >
    <div class="col-md-12">
      <label for="board_name" class="form-label">Nombre del tablero</label>
      <input
        name="board_name"
        type="text"
        class="form-control"
        id="board_name"
        placeholder="Nombre del tablero"
        formControlName="board_name"
        required
      />
    </div>
    <div class="col-md-12">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Descripcion del tablero</label
      >
      <textarea
        class="form-control"
        id="description_board"
        name="description_board"
        formControlName="description_board"
        placeholder="Descripcion del tablero"
        required
        rows="3"
      ></textarea>
    </div>
    <div class="col-md-12">
      <label for="start_date">Fecha de inicio del tablero </label>
      <input
        type="text"
        placeholder="Fecha inicio"
        class="form-control"
        bsDatepicker
        [bsConfig]="{
          dateInputFormat: 'YYYY-MM-DD',
          adaptivePosition: true,
          isAnimated: true,
          containerClass: 'theme-dark-blue'
        }"
        formControlName="start_date"
      />
    </div>
    <div class="col-md-12">
      <label for="end_date">Fecha de fin del tablero</label>
      <input
        type="text"
        placeholder="Fecha Fin"
        class="form-control"
        bsDatepicker
        [bsConfig]="{
          dateInputFormat: 'YYYY-MM-DD',
          adaptivePosition: true,
          isAnimated: true,
          containerClass: 'theme-dark-blue'
        }"
        formControlName="end_date"
      />
    </div>
    <div class="col-md-12">
      <label for="project_manager">Encargado del tablero</label>
      <select
        class="form-select"
        aria-label="Default select example"
        formControlName="project_manager"
      >
        <option *ngFor="let user of users" [value]="user.id_user">
          {{ user.name }} {{ user.lastname }} @{{ user.username }}
        </option>
      </select>
    </div>
    <div class="col-md-12">
      <label for="team">Equipo del tablero</label>
      <select
        class="form-select"
        formControlName="team"
      >
        <option *ngFor="let datag of dataGroup" [value]="datag.datagroup_id">
          {{ datag.datagroup_name }}
        </option>
      </select>
    </div>

    <div class="col-md-12">
      <label for="board_finish">Estado: </label>
      <select name="board_finish" id="board_finish" class="form-select" formControlName="board_finish">
        <option value=false>En proceso</option>
        <option value=true>Finalizado</option>
      </select>
    </div>

    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancelar</button>
      <button
        mat-button
        [mat-dialog-close]="true"
        type="submit"
        [disabled]="!registroBoard.valid"
      >
        Guardar tablero
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
