
.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
    margin-right: 8px;
  }
}
.data-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  img{
    width: 25%;
  }
}





