<div class="menu-container">
  <div class="data-user">
    <img
      src="https://www.3djoin.cl/wp-content/uploads/2021/01/user-2.png"
      alt="user"
      class="avatar"
    />
    <h1 class="name">{{ username }}</h1>
    <p>{{ rol }}</p>
  </div>
  <hr>
  <button mat-button class="menu-button" (click)="onHome()">
    <mat-icon>home</mat-icon>
    <span>Inicio</span>
  </button>
  <hr>
  <button mat-button class="menu-button" (click)="onUsers()">
    <mat-icon>people_alt</mat-icon>
    <span>Usuarios</span>
  </button>
  <hr>
  
  <button mat-button class="menu-button" (click)="onProfile()">
    <mat-icon>person</mat-icon>
    <span>Perfil</span>
  </button>
  <hr>
  <button mat-button class="menu-button" (click)="onGroups()">
    <mat-icon>groups</mat-icon>
    <span>Grupos</span>
  </button>
  <hr>
  <button mat-button class="menu-button" (click)="onRoles()">
    <mat-icon>workspace_premium</mat-icon>
    <span>Roles y Privilegios</span>
  </button>
  <hr>
  <button mat-button class="menu-button" (click)="onLogout()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar sesión</span>
  </button>
</div>
