<app-header></app-header>

<div class="body-users">
  <div class="admin-user-continer">
    <div class="header-container">
      <h1>Grupos Redsinergia</h1>
      <button
        *ngIf="showAddGroup == false"
        mat-raised-button
        (click)="onShowForm()"
      >
        <mat-icon>add</mat-icon>
        <span>Agregar grupo</span>
      </button>
      <!-- <button class="btn btn-primary" (click)="oncreateGroup()">
        Crear nuevo Grupo
      </button> -->

      <form
        *ngIf="showAddGroup"
        [formGroup]="newGroupForm"
        (ngSubmit)="oncreateGroup()"
      >
        <h3><b>Crear Nuevo Grupo:</b></h3>
        <input type="hidden" formControlName="datagroup_photo" />
        <label class="form-label" for="datagroup_name">Nombre del grupo</label>
        <input
          class="form-control"
          type="text"
          placeholder="Nombre del grupo"
          formControlName="datagroup_name"
        />
      </form>
    </div>
    <hr />
    <div class="table-users">
      <div class="group-container">
        <div
          class="card col-md-3"
          style="width: 18rem"
          *ngFor="let group of groups"
        >
          <img
            src="../../assets/images/bird.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h1 class="card-title">{{ group.datagroup_name }}</h1>
            <p class="card-text">Miembros del grupo:</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let user of group.group">
              {{ user.users.username }}
              <button
                mat-button
                (click)="deleteUsers(group.datagroup_id, user.users.id_user)"
              >
                <mat-icon>person_remove</mat-icon>
              </button>
            </li>
          </ul>
          <div class="card-body">
            <button
              class="btn-add-member"
              mat-button
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              (click)="populatedIdGroup(group.datagroup_id)"
            >
              <mat-icon>person_add</mat-icon>
              <span>Agregar miembro</span>
            </button>
            <button
              class="btn-delete-member"
              mat-button
              (click)="onDeleteDataGroup(group.datagroup_id)"
            >
              <mat-icon>delete_outline</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal para agregar usuarios -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">
          Agregar Miembros al Equipo
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p><b>Usuarios actuales:</b></p>
        <p *ngFor="let user of membersGroup">
          @{{ user.username }} : {{ user.name }}
          {{ user.lastname }}
        </p>
        <form [formGroup]="registerUsersForm" (ngSubmit)="addUsersToGroup()">
          <input type="hidden" formControlName="datagroup_id" />
          <select class="form-select form-select-sm" formControlName="id_user">
            <option selected>Selecciona los usuarios</option>
            <option *ngFor="let user of users" [value]="user.id_user">
              @{{ user.username }} : {{ user.name }} {{ user.lastname }}
            </option>
          </select>
          <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="limpiarMiembros()"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
