.body-users {
  padding: 1px;
  background: lightblue;
}
.img-user {
  width: 50px;
  height: 50px;
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-user-continer {
  background: #fff;
  display: flex;
  flex-direction: column;
  margin: 50px;
  padding: 10px;
  box-shadow: 6px 5px 36px;
}
.header-container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.table-users {
  display: flex;
}

.table-rsg {
  background-color: #035caf;
  color: #fff;
}
.btn-rsg {
  background-color: #035caf;
  color: #fff;
}
.group-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .card {
    margin: 0 10px 10px 10px;
  }
}
.group-container::-webkit-scrollbar {
  -webkit-appearance: none;
}
.group-container::-webkit-scrollbar:vertical {
  width: 10px;
}
.group-container::-webkit-scrollbar-button:increment,
.group-container::-webkit-scrollbar-button {
  display: none;
}
.group-container::-webkit-scrollbar:horizontal {
  height: 10px;
}
.group-container::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}
.group-container::-webkit-scrollbar-track {
  border-radius: 10px;
}
.btn-direction {
  animation: slidein 1s infinite;
  animation-delay: 2s;
  animation-timing-function: linear;
}
@keyframes slidein {
  from {
    margin-left: 20px;
    width: 150%;
  }

  to {
    margin-left: 0px;
    width: 100%;
  }
}
.list-group li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    color: #035caf;
  }
}
.card-body {
  .btn-add-member {
    color: rgb(5, 94, 12);
  }
  .btn-delete-member {
    color: red;
  }
}
