<section class="login-container container">
  <div class="shadow-container">
    <h1>Login</h1>

    <div class="img-container">
      <img src="../assets/images/logo.jpg" alt="" />
    </div>

    <div>
      <form [formGroup]="login" (ngSubmit)="onSubmit()" class="form-login">
        <div class="mb-3">
          <label for="username" class="form-label">Usuario</label>
          <input
            type="text"
            name="username"
            id="username"
            class="form-control"
            placeholder="Nombre de usuario"
            formControlName="username"
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            placeholder="Contraseña"
            formControlName="password"
          />
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="login.invalid"
        >
          Iniciar Sesión
        </button>
      </form>
    </div>

    <div class="message">
      
    </div>
  </div>
</section>
