.login-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
  .shadow-container {
    padding: 50px;
    margin: 15px;
    box-shadow: 11px 10px 30px -8px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    h1 {
      text-align: center;
    }
    .img-container {
      border-radius: 10px;
      display: flex;
      justify-content: center;
      img {
        border-radius: 50%;
        margin: 30px 0px;
      }
    }
  }
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    width: 100%;
  }
}
