<mat-dialog-content class="mat-typography">
  <button type="button" class="btn-close" [mat-dialog-close]="true"></button>
  <tabset [justified]="true">
    <tab heading="Detalles de la tajeta">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12" *ngIf="scrumPopulated">
              <div
                class="details-scrum"
                [ngStyle]="{ background: scrumPopulated.color }"
              >
                <div class="img-container">
                  <img src="../../../../assets/images/bird.jpg" alt="" />
                </div>
                <div class="tittle">
                  <h1>{{ scrumPopulated.scard_tittle }}</h1>
                </div>
                <div class="description">
                  <p><b>Descripción</b></p>
                  <p>{{ scrumPopulated.scard_description }}</p>
                </div>
                <div class="status">
                  <p *ngIf="scrumPopulated.scard_status">En proceso</p>
                  <p *ngIf="!scrumPopulated.scard_status">Finalizada</p>
                </div>
                <div class="dates">
                  <p><b>Fecha de inicio:</b></p>
                  <p>{{ scrumPopulated.start_date | date: "mediumDate" }}</p>
                  <p><b>Fecha final:</b></p>
                  <p>{{ scrumPopulated.end_date | date: "mediumDate" }}</p>

                  <p><b>Inicio del Desarrollo:</b></p>
                  <p>{{ scrumPopulated.start_date_devop | date: "medium" }}</p>
                  <p><b>Fin del Desarrollo:</b></p>
                  <p>{{ scrumPopulated.end_date_devop | date: "medium" }}</p>

                  <p><b>Tiempo dedicado:</b></p>
                  <p>{{ scrumPopulated.dedicated_time }}</p>
                </div>
                <div class="line-contain">
                  <div class="box"></div>
                </div>
                <div class="shadow-decorator"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>
    <tab heading="Editar Tarjeta">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <form
              class="row g-3"
              (ngSubmit)="onSubmit()"
              [formGroup]="registroScrum"
            >
              <div class="img-container">
                <img src="../../../../assets/images/bird.jpg" alt="" />
                <button mat-button class="menu-button">
                  <mat-icon>add_a_photo</mat-icon>
                </button>
              </div>
              <input type="hidden" name="id_list" formControlName="id_list" />

              <!-- <input formControlName="image_cover" type="file" accept="image/*" (change)="seleccionarArchivo($event)" /> -->
              <div class="row">
                <div class="col-md-4">
                  <label for="scard_tittle">Nombre de la Tarjeta</label>
                  <input
                    name="scard_tittle"
                    type="text"
                    class="form-control"
                    id="scard_tittle"
                    placeholder="Nombre de la tarjeta"
                    formControlName="scard_tittle"
                    required
                  />
                </div>

                <div class="col-md-4">
                  <label for="">Estatus del scrum</label>
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    formControlName="scard_status"
                  >
                    <option value="true">En proceso</option>
                    <option value="false">Finalizada</option>
                  </select>
                </div>

                <div class="col-md-4">
                  <label for="scard_description"
                    >Descripcion de la tarjeta</label
                  >
                  <textarea
                    class="form-control"
                    id="scard_description"
                    name="scard_description"
                    formControlName="scard_description"
                    placeholder="Descripcion de la tarjeta"
                    required
                    rows="3"
                  ></textarea>
                </div>
              </div>

              <hr />

              <!-- Fechas -->
              <div class="row">
                <div class="col-xs-12 col-12 col-md-3 form-group mb-3">
                  <label for="start_date">Inicio de la tarjeta</label>
                  <input
                    type="text"
                    placeholder="Inicio de la tarjeta"
                    class="form-control"
                    bsDatepicker
                    [bsConfig]="{
                      dateInputFormat: 'YYYY-MM-DD',
                      adaptivePosition: true,
                      isAnimated: true,
                      containerClass: 'theme-dark-blue'
                    }"
                    formControlName="start_date"
                  />
                </div>
                <div class="col-xs-12 col-12 col-md-3 form-group mb-3">
                  <label for="end_date">Fin de la tarjeta</label>
                  <input
                    type="text"
                    placeholder="Fin de la tarjeta"
                    class="form-control"
                    bsDatepicker
                    [bsConfig]="{
                      dateInputFormat: 'YYYY-MM-DD',
                      adaptivePosition: true,
                      isAnimated: true,
                      containerClass: 'theme-dark-blue'
                    }"
                    formControlName="end_date"
                  />
                </div>
                <div class="col-xs-12 col-12 col-md-3 form-group mb-3">
                  <label for="start_date">Inicio del desarrollo</label>
                  <input
                    type="text"
                    placeholder="Inicio del desarrollo"
                    class="form-control"
                    bsDatepicker
                    [bsConfig]="{
                      dateInputFormat: 'YYYY-MM-DD',
                      adaptivePosition: true,
                      isAnimated: true,
                      containerClass: 'theme-dark-blue'
                    }"
                    formControlName="start_date_devop"
                  />
                </div>
                <div class="col-xs-12 col-12 col-md-3 form-group mb-3">
                  <label for="end_date">Fin del desarrollo</label>
                  <input
                    type="text"
                    placeholder="Fin del desarrollo"
                    class="form-control"
                    bsDatepicker
                    [bsConfig]="{
                      dateInputFormat: 'YYYY-MM-DD',
                      adaptivePosition: true,
                      isAnimated: true,
                      containerClass: 'theme-dark-blue'
                    }"
                    formControlName="end_date_devop"
                  />
                </div>
              </div>

              <hr />

              <div class="row">
                <div class="col-md-8">
                  <label for="color" class="form-label"
                    >Selecciona el color</label
                  >

                  <color-twitter formControlName="color"></color-twitter>
                </div>

                <div class="col-md-4">
                  <label for="dedicated_time">Tiempo dedicado</label>
                  <input
                    class="form-control"
                    type="time"
                    name="dedicated_time"
                    id="dedicated_time"
                    formControlName="dedicated_time"
                  />
                </div>
              </div>

              <input
                type="hidden"
                formControlName="keppers"
                [value]="keppers"
              />

              <mat-dialog-actions>
                <button mat-button mat-dialog-close>Cancelar</button>
                <button
                  mat-button
                  [mat-dialog-close]="true"
                  cdkFocusInitial
                  type="submit"
                >
                  Guardar tarjeta
                </button>
              </mat-dialog-actions>
            </form>
          </div>
          <div class="col-md-4">
            <!-- Miembros -->
            <div>
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <p class="accordion-header" id="headingOne">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseOne"
                    >
                      Miembros
                    </button>
                  </p>
                  <div
                    id="collapseOne"
                    class="accordion-collapse collapse collapse"
                    aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      <div class="memberContainer">
                        <div
                          class="item-kepper"
                          *ngFor="let keeper of currentKeppers"
                        >
                          <p>
                            @ {{ keeper.username }} - {{ keeper.name }}
                            {{ keeper.lastname }}
                          </p>
                          <button
                            color="warn"
                            mat-icon-button
                            (click)="onDeleteMember(keeper.id_user)"
                          >
                            <mat-icon>close</mat-icon>
                          </button>
                        </div>
                      </div>
                      <div class="button-add-member">
                        <button mat-button (click)="onAddMember()">
                          <mat-icon>add</mat-icon>
                          <span>Agregar miembro</span>
                          <mat-icon>people_alt</mat-icon>
                        </button>

                        <div class="form-select-member" *ngIf="isShowAddMember">
                          <label for="members">Selecciona los miembros</label>
                          <select class="form-select" [(ngModel)]="miembros">
                            <option
                              *ngFor="let member of users"
                              [ngValue]="member"
                            >
                              {{ member.username }}
                            </option>
                          </select>
                          <button
                            class="m-4"
                            mat-raised-button
                            (click)="onRegisterMember()"
                          >
                            <mat-icon>person</mat-icon>
                            <span>Agregar Miembro</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Lista de tareas -->
            <div>
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <p class="accordion-header" id="headingOne">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo"
                    >
                      Lista de tareas
                    </button>
                  </p>
                  <div
                    id="collapseTwo"
                    class="accordion-collapse collapse collapse"
                    aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      <div class="checklistContainer">
                        <button
                          type="button"
                          mat-button
                          *ngFor="let clist of checklists"
                          (click)="openDialogChecklist(clist.id_checklist)"
                        >
                          {{ clist.checklist_name }}
                          <div class="mb-2">
                            <progressbar
                              [max]="100"
                              [value]="
                                (clist.progress.tareasRealizadas * 100) /
                                clist.progress.totalTareas
                              "
                              type="danger"
                              [striped]="true"
                              [animate]="true"
                              ><i
                                >{{ clist.progress.tareasRealizadas }} /
                                {{ clist.progress.totalTareas }}</i
                              ></progressbar
                            >
                          </div>
                        </button>
                      </div>
                      <div class="button-add-member">
                        <button
                          mat-button
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseExample"
                        >
                          <mat-icon>add</mat-icon>
                          <span>Agregar nueva lista</span>
                          <mat-icon>fact_check</mat-icon>
                        </button>
                        <div class="collapse" id="collapseExample">
                          <div class="card card-body">
                            <form
                              (ngSubmit)="onRegisterChecklist()"
                              [formGroup]="registroCheckList"
                            >
                              <label for="checklist"
                                >Nombre de la lista de tareas</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                formControlName="checklist_name"
                              />

                              <hr />
                              <button type="submit" mat-raised-button>
                                Agregar lista de tareas
                              </button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Etiquetas -->
            <div>
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <p class="accordion-header" id="headingOne">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseThree"
                    >
                      Etiquetas
                    </button>
                  </p>
                  <div
                    id="collapseThree"
                    class="accordion-collapse collapse collapse"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      <div class="button-add-member">
                        <div
                          class="labels"
                          *ngFor="let label of currentLabels"
                          [ngStyle]="{ background: label.color }"
                        >
                          {{ label.label_tittle }}
                          <button
                            mat-icon-button
                            (click)="onDeleteLabelToScard(label.id_label)"
                          >
                            <mat-icon>close</mat-icon>
                          </button>
                        </div>

                        <button mat-button (click)="addToScrumLabel()">
                          <mat-icon>add</mat-icon>
                          <span>Agregar etiquetas</span>
                          <mat-icon>note_alt</mat-icon>
                        </button>

                        <select class="form-select" [(ngModel)]="id_label">
                          <option
                            *ngFor="let label of labels"
                            [value]="label.id_label"
                            [ngStyle]="{background: label.color, color: '#fff'}"
                          >
                            {{ label.label_tittle }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Enlaces -->
            <div>
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <p class="accordion-header" id="headingOne">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseFour"
                    >
                      Enlaces
                    </button>
                  </p>
                  <div
                    id="collapseFour"
                    class="accordion-collapse collapse collapse"
                    aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      <div class="link-container">
                        <div
                          class="item-link"
                          *ngFor="let link of currentLinks"
                        >
                          <div class="item">
                            <p><b>Titulo: </b></p>
                            <p>{{ link.link_name }}</p>
                            <button
                              mat-icon-button
                              color="warn"
                              (click)="onDeleteLink(link.id_link)"
                            >
                              <mat-icon>close</mat-icon>
                            </button>
                          </div>
                          <div class="item">
                            <p><b>Enlace: </b></p>
                            <p>{{ link.link_content }}</p>
                          </div>
                        </div>
                      </div>

                      <label class="form-label" for="">Titulo: </label>
                      <input
                        [(ngModel)]="linkTitle"
                        class="form-control"
                        type="text"
                      />

                      <label class="form-label">Enlace nuevo: </label>
                      <input
                        [(ngModel)]="linkBody"
                        class="form-control"
                        type="text"
                      />
                      <div class="button-add-member">
                        <button mat-button (click)="onAddLink()">
                          <mat-icon>add</mat-icon>
                          <span>Agregar enlace</span>
                          <mat-icon>link</mat-icon>
                        </button>
                        <br />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Adjuntos -->
            <div>
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <p class="accordion-header" id="headingOne">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseFive"
                    >
                      Adjuntos
                    </button>
                  </p>
                  <div
                    id="collapseFive"
                    class="accordion-collapse collapse collapse"
                    aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample"
                  >
                    <div class="accordion-body">
                      <!-- <div class="memberContainer">
                        <p *ngFor="let member of keppersName">
                          {{ member }}
                        </p>
                        <p *ngFor="let keeper of nombres">
                          {{ keeper }}
                        </p>
                      </div> -->
                      <div class="button-add-member">
                        <button mat-button (click)="onAddMember()">
                          <mat-icon>add</mat-icon>
                          <span>Agregar archivo</span>
                          <mat-icon>attach_file</mat-icon>
                        </button>

                        <form *ngIf="isShowAddMember">
                          <div class="mb-3">
                            <label for="formFileSm" class="form-label"
                              >Selecciona tu archivo</label
                            >
                            <input
                              class="form-control form-control-sm"
                              id="formFileSm"
                              type="file"
                            />
                          </div>

                          <hr />
                          <button class="btn btn-info">Agregar archivo</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>
  </tabset>
</mat-dialog-content>
