mat-dialog-content {
}
mat-dialog-content::-webkit-scrollbar {
  -webkit-appearance: none;
}
mat-dialog-content::-webkit-scrollbar:vertical {
  width: 10px;
}
mat-dialog-content::-webkit-scrollbar-button:increment,
mat-dialog-content::-webkit-scrollbar-button {
  display: none;
}
mat-dialog-content::-webkit-scrollbar:horizontal {
  height: 10px;
}
mat-dialog-content::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}
mat-dialog-content::-webkit-scrollbar-track {
  border-radius: 10px;
}

.item-kepper {
  display: flex;
  justify-content: space-between;
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px;
  height: 200px;
  margin-bottom: 20px;
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
}
.labels {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 3px;
  color: white;
  border-radius: 5px;
}
.container {
  padding: 20px;
}
.link-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  border-bottom: 1px solid #e1e1e1;
  .item-link {
    border-bottom: 1px solid #e1e1e1;
    .item {
      padding: 5px;
      display: flex;
    }
    p {
      margin: 0;
    }
  }
}
.img-container {
  z-index: 100;
  border-radius: 5px;
}
.details-scrum {
  z-index: 1;
  padding: 15px;
  position: relative;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  .tittle {
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 3px;
  }
}
.line-contain {
  .box {
    height: 65px;
    border: solid 5px rgb(255, 255, 255);
    border-color: transparent transparent rgb(241, 241, 241) transparent;
    border-radius: 0 0 240px 50%/60px;
  }
}
.shadow-decorator {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  z-index: -1;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  /* position: revert; */
  position: absolute;
  opacity: 0.23;
}
.menu-button {
  position: absolute;
}
textarea {
  resize: none;
}
.tittle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  h2 {
    margin: 0;
  }
}

.checklistContainer {
  display: flex;
  flex-direction: column;
}

.accordion-body {
  span {
    margin: 30px;
  }
}
