<tabset [justified]="true">
  <tab heading="Detalles del ticket">
    <div class="ticket-info">
      <div class="info-item">
        <p><b>Nombre del ticket: </b></p>
        <p>{{ currentTicket.ticket_tittle }}</p>
      </div>
      <div class="info-item">
        <p><b>Descripción: </b></p>
        <p>{{ currentTicket.ticket_description }}</p>
      </div>
      <div class="info-item">
        <p><b>Estado: </b></p>
        <p>
          <span *ngIf="currentTicket.ticket_status" class="text-success"
            >Finalizado</span
          >
          <span
            *ngIf="currentTicket.ticket_status == false"
            class="text-warning"
            >Pendiente</span
          >
        </p>
      </div>
      <div class="info-item">
        <p><b>Fecha de reporte: </b></p>
        <p>
          {{ currentTicket.customer_date | date }}
        </p>
      </div>
      <div class="info-item">
        <p><b>Fecha de resolución: </b></p>
        <p>{{ currentTicket.resolution_date | date }}</p>
      </div>
      <div class="info-item">
        <p><b>Tiempo asignado:</b></p>
        <p>{{ currentTicket.ticket_time }}</p>
      </div>
      <div class="info-item">
        <p><b>Solución</b></p>
        <p>{{ currentTicket.solution }}</p>
      </div>
      <div class="info-item">
        <p><b>Encargado del ticket: </b></p>
        <p *ngFor="let user of currentTicket.attendees">{{ user.name }}</p>
      </div>
    </div>
    <button
      class="btn btn-danger"
      (click)="onDeleteTicket()"
      [mat-dialog-close]="true"
    >
      Eliminar Ticket
    </button>
  </tab>
  <tab heading="Editar Ticket">
    <form
      *ngIf="currentTicket"
      [formGroup]="editFormTicket"
      (ngSubmit)="updateTicket()"
    >
      <label class="form-label">Estado del ticket</label>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
          formControlName="ticket_status"
          [checked]="currentTicket.ticket_status"
          (change)="updateStatus(currentTicket.id_ticket)"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault">
          <span *ngIf="currentTicket.ticket_status">Finalizado</span>
          <span *ngIf="currentTicket.ticket_status == false">Pendiente</span>
        </label>
      </div>
      <label class="form-label">Fecha de resolución</label>
      <input
        type="text"
        placeholder="Asigne fecha de resolución"
        class="form-control"
        bsDatepicker
        [bsConfig]="{
          dateInputFormat: 'YYYY-MM-DD',
          adaptivePosition: true,
          isAnimated: true,
          containerClass: 'theme-dark-blue'
        }"
        formControlName="resolution_date"
      />
      <label class="form-label">Tiempo asignado</label>
      <input formControlName="ticket_time" type="time" class="form-control" />

      <label class="form-label">Solución</label>
      <textarea
        class="form-control"
        formControlName="solution"
        cols="30"
        rows="5"
      ></textarea>
      <button
        type="submit"
        class="btn btn-primary m-3"
        [mat-dialog-close]="true"
      >
        Guardar Resolución
      </button>
    </form>
  </tab>
</tabset>
