.body-users {
  padding: 1px;
  background: lightblue;
}
.admin-user-continer {
  background: #fff;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  box-shadow: 6px 5px 36px;
  border-radius: 10px;
}
.header-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  background: #035caf;
  color: white;
  margin-bottom: 20px;
  border-radius: 10px;
}

.role-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.btn-role{
  background: #035caf;
  color: #fff;
}
.tittle-sec{
  
}
