<app-header></app-header>
<div class="body-users">
  <div class="admin-user-continer">
    <div class="header-container">
      <h1>Administración de Roles</h1>
      <!-- <button class="btn btn-primary">Agregar nuevo rol</button> -->
    </div>
    <h1 class="text-center tittle-sec">Roles </h1>
    <hr>
    <div class="role-container">
      <button class="btn-role m-1" mat-button *ngFor="let role of roles">
        {{role.role_name}}
      </button>
    </div>
    <h1 class="text-center tittle-sec">Privilegios</h1>
    <hr>
    <div class="row">
      <div class="col-md-2">
        <h2>General</h2>
        <hr>
        <div class="form-check form-switch" *ngFor="let permg of permisos_generales">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
          <label class="form-check-label">{{ permg.privi_name }}</label>
        </div>
        
      </div>
      <div class="col-md-2">
        <h2>Administración</h2>
        <hr>
        <div class="form-check form-switch" *ngFor="let permg of permisos_admin">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
          <label class="form-check-label">{{ permg.privi_name }}</label>
        </div>
      </div>
      <div class="col-md-3">
        <h2>Proyecto</h2>
        <hr>
        <div class="form-check form-switch" *ngFor="let permg of permisos_proyecto">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
          <label class="form-check-label">{{ permg.privi_name }}</label>
        </div>
      </div>
      <div class="col-md-3">
        <h2>Desarrollo</h2>
        <hr>
        <div class="form-check form-switch" *ngFor="let permg of permisos_desarrollo">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
          <label class="form-check-label">{{ permg.privi_name }}</label>
        </div>
      </div>
      <div class="col-md-2">
        <h2>Soporte</h2>
        <hr>
        <div class="form-check form-switch" *ngFor="let permg of permisos_soporte">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
          <label class="form-check-label">{{ permg.privi_name }}</label>
        </div>
      </div>
    </div>
  </div>

</div>
