.btn-close {
  float: right;
  padding: 10px;
  border-radius: 50%;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  border-radius: 5px;
  height: 200px;
  margin-bottom: 20px;
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;  
    border-radius: 5px;
  }
}
.menu-button {
  position: absolute;
}
textarea{
  resize: none;
}
