<mat-dialog-content class="mat-typography">
  <button type="button" class="btn-close" [mat-dialog-close]="true"></button>
  <h2 mat-dialog-title>Crear nueva tarjeta</h2>

  <div class="row">
    <div class="col-md-8">
      <form class="row g-3" (ngSubmit)="onSubmit()" [formGroup]="registroScrum">
        <div class="img-container">
          <img src="../../../../assets/images/bird.jpg" alt="">
          <button mat-button class="menu-button">
            <mat-icon>add_a_photo</mat-icon>
          </button>
        </div>
        <input type="hidden" name="id_list" formControlName="id_list" />
        

        <!-- <input formControlName="image_cover" type="file" accept="image/*" (change)="seleccionarArchivo($event)" /> -->
        <div class="row">
          <div class="col-md-4">
            <label for="scard_tittle">Nombre de la tarjeta</label>
            <input
              name="scard_tittle"
              type="text"
              class="form-control"
              id="scard_tittle"
              placeholder="Nombre de la tarjeta"
              formControlName="scard_tittle"
              required
            />
          </div>

          <div class="col-md-4">
            <label for="">Estado</label>
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="scard_status"
            >
              <option value="true">En proceso</option>
              <option value="false">Finalizada</option>
            </select>
          </div>

          <div class="col-md-4">
            <label for="scard_description">Descripcion</label>
            <textarea
              class="form-control"
              id="scard_description"
              name="scard_description"
              formControlName="scard_description"
              placeholder="Descripcion de la tarjeta"
              required
              rows="3"
            ></textarea>
          </div>
        </div>

        <hr />

        <!-- Fechas -->
        <div class="row">
          <div class="col-xs-12 col-12 col-md-3 form-group mb-3">
            <label for="start_date">Inicio de la tarjeta</label>
            <input
              type="text"
              placeholder="Inicio de la tarjeta"
              class="form-control"
              bsDatepicker
              [bsConfig]="{
                adaptivePosition: true,
                isAnimated: true,
                containerClass: 'theme-dark-blue'
              }"
              formControlName="start_date"
            />
          </div>
          <div class="col-xs-12 col-12 col-md-3 form-group mb-3">
            <label for="end_date">Fin de la tarjeta</label>
            <input
              type="text"
              placeholder="Fin de la tarjeta"
              class="form-control"
              bsDatepicker
              [bsConfig]="{
                adaptivePosition: true,
                isAnimated: true,
                containerClass: 'theme-dark-blue'
              }"
              formControlName="end_date"
            />
          </div>
          <div class="col-xs-12 col-12 col-md-3 form-group mb-3">
            <label for="start_date">Inicio del desarrollo</label>
            <input
              type="text"
              placeholder="Inicio del desarrollo"
              class="form-control"
              bsDatepicker
              [bsConfig]="{
                adaptivePosition: true,
                isAnimated: true,
                containerClass: 'theme-dark-blue'
              }"
              formControlName="start_date_devop"
            />
          </div>
          <div class="col-xs-12 col-12 col-md-3 form-group mb-3">
            <label for="end_date">Fin del desarrollo</label>
            <input
              type="text"
              placeholder="Fin del desarrollo"
              class="form-control"
              bsDatepicker
              [bsConfig]="{
                adaptivePosition: true,
                isAnimated: true,
                containerClass: 'theme-dark-blue'
              }"
              formControlName="end_date_devop"
            />
          </div>
        </div>

        <hr />

        <div class="row">
          <div class="col-md-8">
            <label for="color" class="form-label"
              >Selecciona el color</label
            >

            <color-twitter formControlName="color"></color-twitter>
          </div>
         
          <div class="col-md-4">
            <label for="dedicated_time">Tiempo dedicado</label>
            <input
              class="form-control"
              type="time"
              name="dedicated_time"
              id="dedicated_time"
              formControlName="dedicated_time"
            />
          </div>
        </div>

        <input type="hidden" formControlName="keppers" [value]="keppers" />

        <mat-dialog-actions>
          <button mat-button mat-dialog-close>Cancelar</button>
          <button
            mat-button
            [mat-dialog-close]="true"
            cdkFocusInitial
            type="submit"
          >
            Guardar tarjeta
          </button>
        </mat-dialog-actions>
      </form>
    </div>
    <div class="col-md-4">
      <div>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <p class="accordion-header" id="headingOne">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
              >
                Miembros
              </button>
            </p>
            <div
              id="collapseOne"
              class="accordion-collapse collapse collapse"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <div class="memberContainer">
                  <p *ngFor="let member of keppersName">
                    {{ member }}
                  </p>
                </div>
                <div class="button-add-member">
                  <button mat-button (click)="onAddMember()">
                    <mat-icon>add</mat-icon>
                    <span>Agregar miembro</span>
                  </button>

                  <form
                    *ngIf="isAdd"
                    (ngSubmit)="onRegisterMember()"
                    [formGroup]="registroMiembro"
                  >
                    <label for="members">Selecciona los miembros</label>
                    <select class="form-select" formControlName="miembros">
                      <option *ngIf="loading" disabled>
                        <div class="spinner-grow" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                      </option>
                      
                      <option
                        *ngFor="let member of users"
                        [value]="[member.id_user, member.username]"
                      >
                        {{ member.username }}
                      </option>
                    </select>

                    <hr />
                    <button class="btn btn-info">Agregar Miembro</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</mat-dialog-content>
