<app-header></app-header>
<div class="profile-container">
  <div class="admin-user-continer">
    <div class="row">
      <div class="col-md-2">
        <div class="row box">
          <h2 class="text-center">Datos Personales</h2>
          <div class="data-user">
            <div class="img-user">
              <img src="../../assets/images/user.png" alt="" />
            </div>
            <!-- {{ user.photo }} -->
            <hr />
            <p>
              <span><b>Email: </b></span>{{ user.email }}
            </p>
            <hr />
            <p>
              <span><b>Nombre: </b></span>{{ user.name }} {{ user.lastname }}
            </p>
            <hr />
            <p>
              <span><b>Nombre de Usuario: </b></span>{{ user.username }}
            </p>
            <hr />
            <p>
              <span><b>Rol: </b></span>{{ user.role.role_code }}
              {{ user.role.role_name }}
            </p>
            <hr />
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row box2">
          <h2 class="text-center">
            <span> Tableros Favoritos</span>
            <p><mat-icon>star</mat-icon></p>
          </h2>

          <div class="phase" *ngIf="favoriteBoards">
            <p *ngIf="favoriteBoards.length <= 0">No hay tableros favoritos</p>
          </div>

          <div
            class="favorite-boards"
            *ngFor="let favoriteBoard of favoriteBoards"
          >
            <b>{{ favoriteBoard.board_name }}</b>
            <a
              mat-button
              color="primary"
              [routerLink]="['/board', favoriteBoard.id_board]"
            >
              <mat-icon>arrow_forward</mat-icon>
              <span>Abrir</span>
            </a>
          </div>
        </div>
        <div class="row box2">
          <h2 class="text-center">
            Tickets Asignados
            <p><mat-icon>local_activity</mat-icon></p>
          </h2>
          <div class="phase" *ngIf="ticketsToUser">
            <p *ngIf="ticketsToUser.length <= 0">No hay tickets asignados</p>
          </div>
          <div class="ticket-container" *ngFor="let ticket of ticketsToUser">
            <p>
              <b>{{ ticket.ticket_tittle }}</b>
            </p>

            <p *ngIf="ticket.ticket_status">
              <b> Estado: </b><span class="text-success">Activo</span>
            </p>
            <p *ngIf="ticket.ticket_status == false">
              <b> Estado: </b><span class="text-warning">Realizado</span>
            </p>
            <p><b>Fecha de creación: </b>{{ ticket.customer_date | date }}</p>

            <p>
              <b>Fecha de resolución: </b>{{ ticket.resolution_date | date }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row box2">
          <h2 class="text-center">
            Tarjetas en las que participa
            <p><mat-icon>engineering</mat-icon></p>
          </h2>
          <div class="phase" *ngIf="scrumToUser">
            <p *ngIf="scrumToUser.length <= 0">
              No tiene tarjetas de actividades
            </p>
          </div>
          <div class="scard-container" *ngFor="let scard of scrumToUser">
            <p>
              <b>{{ scard.scard_tittle }}</b>
            </p>
            <p>Fecha de inicio: {{ scard.start_date | date }}</p>
            <p>Fecha final: {{ scard.end_date | date }}</p>

            <span *ngIf="scard.scard_status">En proceso</span>
            <span *ngIf="scard.scard_status == false">Finalizado</span>
          </div>
        </div>
        <div class="row box2">
          <h2 class="text-center">
            Reuniones pendientes
            <p><mat-icon>groups</mat-icon></p>
          </h2>

          <div class="phase" *ngIf="mettingsToUser">
            <p *ngIf="mettingsToUser.length <= 0">
              No tiene reuniones pendientes
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="row box2">
          <h2 class="text-center">
            Grupos
            <p><mat-icon>connect_without_contact</mat-icon></p>
          </h2>
          <div class="phase" *ngIf="groupToUser">
            <p *ngIf="groupToUser.length <= 0">No esta en ningun grupo</p>
          </div>

          <div class="grupo-inv" *ngFor="let group of groupToUser">
            <img src="../../assets/images/bird.jpg" alt="" />
            <p><b>Nombre: </b>{{ group.datagroup_name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
