.profile-container {
  background: lightblue;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.box {
  box-sizing: border-box;
  margin: 20px;
  width: 100%;
  border-radius: 5px;
  h2 {
    border-bottom: 1px solid #e1e1e1;
  }
  box-shadow: -3px 1px 15px 0px #000000;
}
.grupo-inv {
  img {
    width: 80px;
  }
}
.box2 {
  width: 100%;
  border-radius: 5px;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }
  h2 {
    p {
      margin: 0;
    }
    border-bottom: 1px solid #e1e1e1;
  }
  box-sizing: border-box;
  margin: 20px;
  box-shadow: -3px 1px 15px 0px #000000;
}

.admin-user-continer {
  position: absolute;
  background: #fff;
  display: flex;
  flex-direction: column;
  margin: 50px;
  padding: 10px;
  width: 95%;
  min-height: 80%;
  box-shadow: 6px 5px 36px;
}

.colun {
  background-color: #e1e1e1;
}

.data-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: left;
  img {
    width: 100px;
  }
}

.img-user {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100px;
  }
}
