.boards-container {
  margin: 20px;
  padding: 50px;
  box-shadow: -1px 1px 15px 0px #000000;
}
.header-card-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.status-proceso {
  color: rgb(29, 128, 5);
}
.status-finalizado {
  color: red;
}

.card-container {
  border-radius: 10px;
  .card {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    border: none;
    border-radius: 10px;
  }

  transition: all 0.2s linear;
}

.card-container:hover {
  transform: scale(1.1);
  box-shadow: -1px 1px 15px 0px #000000;
}

@media screen and (max-width: 740px) {
}

.start-contain {
  button {
    float: right;
  }
}
