<app-header></app-header>
<div class="boards-container">
  <div class="header-card-container">
    <h1 class="tittle-project">Tableros de proyectos</h1>
    <button mat-button (click)="openDialog()">
      <mat-icon>add</mat-icon>
      <span>Agregar tablero</span>
    </button>
  </div>

  <div class="row row-cols-1 row-cols-md-4 g-4 card-content-container">
    <div *ngFor="let board of currentBoard" class="one-board">
      <div class="col card-container">
        <div class="card">
          <div class="start-contain">
            <button
              mat-icon-button
              color="primary"
              (click)="onAddFavorite(board.id_board, board.isFavorite)"
            >
              <mat-icon
                *ngIf="
                  board.isFavorite == false || board.isFavorite == undefined
                "
                >star_outline</mat-icon
              >
              <mat-icon *ngIf="board.isFavorite">star</mat-icon>
            </button>
          </div>
          <div class="row g-0">
            <div class="col-md-12">
              <div class="card-body">
                <h2 class="card-title">{{ board.board_name }}</h2>
                <p class="card-text">
                  {{ board.description_board }}
                </p>

                <p class="card-text">
                  <small class="text-muted"
                    >Fecha de inicio: {{ board.start_date | date }}</small
                  >
                </p>
                <p class="card-text">
                  <small class="text-muted"
                    >Fecha final: {{ board.end_date | date }}</small
                  >
                </p>

                <p class="card-text status-proceso" *ngIf="!board.board_finish">
                  <small>Status: En proceso</small>
                </p>
                <p
                  class="card-text status-finalizado"
                  *ngIf="board.board_finish"
                >
                  <small>Status: Finalizado</small>
                </p>
                <div class="row">
                  <div class="col-md-4">
                    <button mat-button (click)="openDialogEdit(board)">
                      <mat-icon>edit_note</mat-icon>
                      <span>Editar</span>
                    </button>
                  </div>
                  <div class="col-md-4">
                    <a mat-button [routerLink]="['/board', board.id_board]">
                      <mat-icon>arrow_forward</mat-icon>
                      <span>Abrir</span>
                    </a>
                  </div>
                  <div class="col-md-4">
                    <button mat-button (click)="deleteBoard(board.id_board)">
                      <mat-icon>delete_forever</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
