<tabset [justified]="true">
  <tab heading="Detalles de la credencial">
    <div class="details-credential" *ngIf="currentCredential">
      <p><b>Alias de la credencial: </b></p>
      <p>{{ currentCredential.credential_description }}</p>
      <p><b>Dominio:</b></p>
      <p>{{ currentCredential.credential_links }}</p>
      <p><b>Archivos</b></p>
      <p>{{ currentCredential.credential_filename }}</p>
      <p><b>Datos de acceso: </b></p>
      <p>{{ currentCredential.credential_path }}</p>
    </div>
    <button
      [mat-dialog-close]="true"
      class="btn btn-danger m-2"
      (click)="onDeleteCredential()"
    >
      Eliminar Credencial
    </button>
  </tab>
  <tab heading="Editar Credencial">
    <form
      [formGroup]="editCredentialForm"
      class="align-items-center m-4"
      (ngSubmit)="onEditCredential()"
    >
      <label for="credential_description" class="form-label">Alias</label>
      <input
        class="form-control"
        type="text"
        name="credential_description"
        id="credential_description"
        formControlName="credential_description"
        placeholder="Alias de descripcion"
      />

      <label for="credential_links" class="form-label"
        >Dominio o código de conexion:</label
      >
      <input
        class="form-control"
        type="text"
        name="credential_links"
        id="credential_links"
        formControlName="credential_links"
        placeholder="Enlace a la credencial"
      />

      <label for="credential_filename" class="form-label">Archivo</label>
      <input
        class="form-control"
        type="file"
        name="credential_filename"
        id="credential_filename"
        formControlName="credential_filename"
        placeholder="Archivos"
      />

      <label for="credential_path" class="form-label">Datos de acceso</label>
      <textarea
        class="form-control"
        type="text"
        id="credential_path"
        formControlName="credential_path"
        placeholder="Usuario, contraseña..."
        cols="30"
        rows="5"
      ></textarea>
      <button
        [mat-dialog-close]="true"
        type="submit"
        class="btn btn-primary m-2"
      >
        Editar Credencial
      </button>
    </form>
  </tab>
</tabset>
