<mat-dialog-content class="mat-typography">
  <h2 mat-dialog-title>Editar usuario</h2>
  <form (ngSubmit)="onUpdateUser()" [formGroup]="updateUser">
    <div class="row">
      <input type="hidden" formControlName="photo" [value]="img_def" />
      <div class="col-md-3">
        <label for="username" class="form-label">Nombre de Usuario</label>
        <input
          class="form-control"
          type="text"
          formControlName="username"
          placeholder="Username"
          required
        />
      </div>
      <div class="col-md-3">
        <label for="name" class="form-label">Nombre (s)</label>
        <input
          class="form-control"
          type="text"
          formControlName="name"
          placeholder="name"
          required
        />
      </div>
      <div class="col-md-3">
        <label for="lastname" class="form-label">Apellido (s)</label>
        <input
          class="form-control"
          type="text"
          formControlName="lastname"
          placeholder="lastname"
          required
        />
      </div>
      <div class="col-md-3">
        <label for="rol" class="form-label">Rol de Usuario</label>
        <select class="form-select" formControlName="role_id" id="rol" required>
          <option *ngFor="let role of roles" [value]="role.role_id">
            {{ role.role_name }}
          </option>
        </select>
      </div>
      <div class="row">
        <div class="col-md-3">
          <label for="email" class="form-label">Correo Electronico</label>
          <input
            type="email"
            name="email"
            id="email"
            formControlName="email"
            required
            class="form-control"
            placeholder="Correo Electronico"
          />
        </div>
        <!-- <div class="col-md-3">
          <label for="password" class="form-label">Nueva Contraseña</label>
          <input class="form-control" type="password" id="password" formControlName="password"
            placeholder="Nueva Contraseña" required>
        </div> -->
      </div>
    </div>

    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancelar</button>
      <button
        mat-button
        [mat-dialog-close]="true"
        type="submit"
        background="primary"
        [disabled]="!updateUser.valid"
      >
        Actualizar Usuario
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
